*,
*:before,
*:after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* Removing existing padding and margin  */
body{
    height:100vh;
    background:linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );
    color: #ffffff;
    
}
/* styling container */
.container{
    
    width:40%;
    min-width: 450px;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 30px 40px;
    text-align: center;
}

#newtask{
    position:relative;
    background-color:#ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,03);

}

/* styling the input field */

#newtask input{
    width:70%;
    width:70%;
    height:45px;
    font-family: 'Merriweather', serif;
    font-size:15px;
    border:2px solid #d1d3d4;
    padding:12px;
    color:black;
    font-weight:500;
    position:relative;
    border-radius: 5px;

}
#newtask input:focus{
    outline:none;
    border-color:#8052ec;
}
/* Styling Add button */
#newtask button{
    position:relative;
    float:right;
    width:20%;
    height:45px;
    border-radius:5px;
    font-family: 'Merriweather', serif;
    font-weight:500;
    font-size:16px;
    background-color: skyblue;
    color:black;
    cursor: pointer;

}

#newtask button:hover{
    background-color: #8052ec;
}
/* Style the list items */
#tasks{
   background-color: #ffffff;
   color: black;
   text-align: left;
   padding:30px 20px;
   margin-top: 20px;
   border-radius: 10px;
   box-shadow: 0 15px 30px rgba(0,0,0,0.3);
   width:100%;
   position:relative;
}
/* When clicked on, add a background color and strike out text */
.task{
background-color: white;
height:50px;
padding: 5px 10px;
margin-top:10px;
display:flex;
align-items:center;
justify-content: space-between;
border-bottom:2px solid #d1d3d4;
cursor:pointer;
}

.task span{
    font-family:'Merriweather', serif;
    font-size: 15px;
    font-weight: 400;

}

.task button{
    background-color: #8052ec;
    color: #ffffff;
    height:100%;
    width:40px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    outline:none;

}
/* Styling delete hover */
.task button:hover{
    background-color: #9b80db;
}


.completed{
    text-decoration: line-through;
}



